.DS_Store
node_modules
/__test__/**/*.*
!/__test__/**.xlsx
!/__test__/**.xls
!/__test__/**.csv

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

